

.Partners {
  padding-bottom: 40px;
}

.swiper-container2 {
  width: 1200px;
}

.swiper-wrapper {
  // -webkit-transition-timing-function:linear!important;
  // -o-transition-timing-function:linear!important;
  // transition-timing-function:linear!important;
}

.SwiperWrapper {
  -webkit-transition-timing-function:linear!important;
  -o-transition-timing-function:linear!important;
  transition-timing-function:linear!important;
}

.swiper-slide {
  img {
    height: 100%;
    vertical-align: center;
    width: 70px;
  }
}